@font-face{
    font-family: vietnam;
    src: url(../fonts/BeVietnam-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: vietnam;
    background-color: hsl(0, 0%, 98%);
}

/* Menu starts here */
header{
    display: flex;
    justify-content: center;
    height: 100px;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.menu_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.menu_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 500px;
}
.list{
    text-decoration: none;
    color: hsl(228, 39%, 23%);
}
.get_started1{
    width: 120px;
    height: 40px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 7px;
     cursor: pointer;
}
.get_started1:active {
      background-color: hsl(12, 88%, 59%);
      box-shadow: 0 5px 5px #666;
      transform: translateY(4px);
    }
/* Menu ends here */



/* First section status starts here */

.sec_1{
   display: flex;
   justify-content: center;
   padding-top: 100px;
   align-items: center;
  
}
.intro_picture{
    animation: animate 3s;
    animation-iteration-count: infinite;
    box-shadow: 0 1px 4px 0  hsl(12, 88%, 59%), 
    0 6px 10px 0  hsl(12, 88%, 59%);
}
.intro_picture:hover{
  /* animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite; */

  
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@keyframes animate{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
/* @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */


.intro_div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 600px;
    align-items: center;
    margin: auto;
}
.intro_word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 512px;
}
.bring{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: hsl(228, 39%, 23%);
}

.manage{
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    color: hsl(227, 12%, 61%);
    width: 512px;
}
.get_started_2{
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    margin-top: 24px;
    font-size: 16px;
}
.btn_1{

}

/* First section ends here */

/* Second section starts here */
.sec_2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.question{
    display: flex;
    flex-direction: column;
}
.what{
    font-size: 38px;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    line-height: 48px;
    width: 420px;
}
.what_description{
    margin-top: 40px;
    color: hsl(227, 12%, 61%);
}
.cards{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-direction: column;

}
.side_question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.num_div{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.num{
    width: 50px;
    height: 30px;
    background-color: hsl(12, 88%, 59%);
    text-align: center;
    border-radius: 20px;
    color: hsl(0, 0%, 98%);
    padding-top: 2px;
    font-weight: 700;
}

.div_topic{
    font-weight: 700;
    color: hsl(228, 39%, 23%);
    margin-left: 20px;
}

.div_words{
    color: hsl(227, 12%, 61%);
    margin-left: 70px;
    width: 430px;
    height: 100px;
}

/* Second section ends here */

/* Third section starts here */
.sec_3_topic{
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

/* Third section ends here */
